@font-face{

    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.ttf');

}
@font-face{

    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.ttf');

}
@font-face{

    font-family: 'MavenProRegular';
    src: url('../fonts/MavenProRegular.otf');

}
    